/*Variables*/

/*Fuentes*/
$fuente: 'Open Sans', serif;

/*Font Sizes*/
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;

/* Font weight*/
$bold: 700;
$regular: 400;
$light: 300;


/*Paleta de Colores*/

/*Paleta de Grises*/
$black: #010B0B;
$taupe-gray: #91918D;
$gray: #BABAB8;

/*Paletas de Rosas*/
$jelly-bean: #E56353;
$salmon: #E97F72;

/*Paleta de Celeste*/
$white: #fff;
$celest: #13D2D9;
